footer.footer 
   .footer__text 
      h3.footer__heading Sign me up 
      p.footer__paragraph Lorem ipsum dolor sit amet consectetur, adipisicing elit.
   form.form 
      input.form__control(type="email" required placeholder="Enter your email")
      button.btn.form__btn(type="submit") 
         i.fas.fa-arrow-right
   p.copyright 
      | &copy; Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, ex?
