extends ../templates/template

block home 
   block header 
      include ../blocks/header
      main 
         article 
            block popularMeals 
               include ../blocks/popularMeals
            block gallery 
               include ../blocks/gallery
